.header__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* max-height: 1200px; */
  padding: 0 100px;
  width: 100%;
}

.header__top {
  display: flex;
  height: 150px;
  align-items: center;
}

.header__middle {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header__bottom {
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: -14px;
}

.logo__cube {
  width: 107px;
  height: 109px;
  background-image: url(../img/logo-cube.png);
}

.logo__text {
  width: 96px;
  height: 24.75px;
  background-image: url(../img/logo-text.svg);
  margin-right: 108px;
}

.auth {
  display: flex;
  align-items: center;
}

.auth__ico {
  width: 26px;
  height: 24.99px;
  background-image: url(../img/auth-ico.svg);
  margin-right: 12px;
}

.auth__text {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

.auth__text:hover {
  text-decoration-line: underline;
}

.header__primary-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-left: 105px;
}

.header__phone-wrapper {
  width: 500px;
  display: flex;
  justify-content: center;
}
.header__phone {
  position: relative;
  width: 333px;
  height: 668px;
}

.header__phone img {
  height: 100%;
  width: 100%;
}

.header__dl-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 35px;
  line-height: 70px;
}
.header__apps {
  display: flex;
  justify-content: space-between;
  /* height: 51px; */
  width: 380px;
  margin-right: 50px;
}
.header__appstore {
  /* height: 100%; */
  height: 51px;
  width: 163px;
  background-size: 100% 100%;
  background-image: url(../img/appstore.svg);
}
.header__googleplay {
  height: 51px;
  width: 184px;
  background-size: 100% 100%;
  background-image: url(../img/googleplay.svg);
}
