.id-scanner__inner {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/bg-1.webp);
  margin: 100px 0;
}
.id-scanner__phones {

  display: flex;

}
.id-scanner__img-1 {
  margin-top: 100%;
  width: 333px;
  height: auto;
}

.id-scanner__img-1 img {
  width: 100%;
  height: 100%;
}
.id-scanner__img-2 {
  margin-top: 100%;
  width: 333px;
  height: auto;
  margin-left: 50px;
}

.id-scanner__img-2 img {
  width: 100%;
  height: 100%;
}
.id-scanner__text {
  max-width: 500px;
  margin-top: 80%;
  /* margin-bottom: 300px; */
}
.id-scanner__primary-text {
  width: 315px;
}
