.notab-phone__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1006px;
  background-position: center;
  background-image: url(../img/bg-5.png);
  padding: 0 10%;
  margin: 100px 0;
}

.notab-phone__img {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 859px;
  height: auto;
}

.notab-phone__img img {
  width: 100%;
  height: 100%;
}
