.ordering__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0 100px;
}
.ordering__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* max-width: 868px; */
}

.ordering__img img {
  width: 100%;
  height: 100%;
}

.ordering__text {
  position: absolute;
  top: -180px;
  right: 0;
}

.messages {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 200px;
  width: 100%;
}

.message-1 {
  width: 276px;
  height: 100px;
  margin-left: 25%;
}

.message-2 {
  width: 285px;
  height: 113px;
  margin-top: 2%;
  margin-right: 70%;
}

.message-3 {
  width: 182px;
  height: 91px;
  margin-left: 75%;
}

.message-4 {
  width: 175px;
  height: 65px;
  margin-top: 20%;
  margin-right: 50%;
}
