.blur-6 {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 100px;
  right: -100px;
  background-size: 100% 100%;
  background-image: url(../img/blur-6.svg);
  z-index: -1;
}

.ordering__inner {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 200px;
  margin: 200px 0;
}
.ordering__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* max-width: 868px; */
}

.ordering__img img {
  width: 100%;
  height: 100%;
}

.ordering__text {
  margin-top: -180px;
  position: absolute;
  right: 0;
}

img[alt="phone-8-mobil"] {
  display: none;
}
