.qr-code__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  /* background: url(../img/bg-2.png) 0 50% no-repeat,
    url(../img/bg-3.png) 100% 60% no-repeat; */
  /* margin-bottom: 800px; */
  /* margin-top: 300px; */
}
.qr-code__bg-2 {
  position: absolute;
  left: 0;
  /* width: 100%; */
  /* top: -100px; */
}

.qr-code__bg-2 img {
  width: 100%;
  height: 100%;
}
.qr-code__bg-3 {
  position: absolute;
  right: 0;
  /* width: 100%; */
}

.qr-code__bg-3 img {
  width: 100%;
  height: 100%;
}
.qr-code__text {
  position: relative;
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  width: 500px;
}

.qr-code__primary-text {
  width: 315px;
}
.qr-code__apps {
  display: flex;
  justify-content: space-between;
  width: 376px;
  margin-top: 50px;
}
.qr-code__appstore {
  height: 51px;
  width: 163px;
  background-size: 100% 100%;
  background-image: url(../img/appstore.svg);
}
.qr-code__googleplay {
  height: 51px;
  width: 184px;
  background-size: 100% 100%;
  background-image: url(../img/googleplay.svg);
}
.qr-code__phones {
  display: flex;
  width: 740px;
  justify-content: space-between;
  margin-right: 50px;
}

.qr-code__nightlife {
  position: absolute;
  top: -800px;
  right: -300px;
  width: 160px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/nightlife.svg);
  margin-top: 450px;
}

.qr-code__img-1 {
  position: relative;
  width: 333px;
  height: 667px;
  /* background-image: url(../img/phone-5.png); */
  margin-top: 450px;
}

.qr-code__img-1 img {
  width: 100%;
  height: 100%;
}

.qr-code__img-2 {
  width: 333px;
  height: 667px;
  margin-top: 900px;
  /* background-image: url(../img/phone-6.png); */
}
.qr-code__img-2 img {
  width: 100%;
  height: 100%;
}
