@import "normalize.css";
@import "fonts.css";
@import "bootstrap-grid.css";

@import "header.css";
@import "contact-us.css";
@import "our-mission.css";
@import "id-scanner.css";
@import "integration.css";
@import "qr-code.css";
@import "generate-qr.css";
@import "ordering.css";
@import "notab-phone.css";
@import "get-in-touch.css";
@import "footer.css";
@import "cookies.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  cursor: default;
  font-family: "NotoSans";
  background-color: black;
  color: white;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.primary-text {
  font-family: "NotoSans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.h1-heading {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
  margin: 130px 0;
}

.h2-heading {
  font-family: "Montserrat";
  font-size: 51px;
  font-weight: 700;
  line-height: 62px;
  margin-bottom: 23px;
}
