@import "normalize.css";
@import "fonts.css";
@import "bootstrap-grid.css";

@import "header.css";
@import "contact-us.css";
@import "our-mission.css";
@import "id-scanner.css";
@import "integration.css";
@import "qr-code.css";
@import "generate-qr.css";
@import "ordering.css";
@import "notab-phone.css";
@import "get-in-touch.css";
@import "footer.css";
@import "cookies.css";

/* placeholder color */

::-webkit-input-placeholder {
  color: #bfbfbf;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-moz-placeholder {
  color: #bfbfbf;
}
:-ms-input-placeholder {
  color: #bfbfbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  cursor: default;
  font-family: "NotoSans";
  background-color: black;
  color: white;
  font-style: normal;
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-width: 375px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.primary-text {
  font-family: "NotoSans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.h1-heading {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
  margin: 130px 0;
}

.h2-heading {
  font-family: "Montserrat";
  font-size: 51px;
  font-weight: 700;
  line-height: 62px;
  margin-bottom: 24px;
}

@media (max-width: 1600px) {
  .integration__inner {
    flex-direction: column;
    margin: 50px 0;
  }
  .generate-qr__img {
    transform: scale(0.9);
  }
  .id-scanner__inner {
    flex-direction: column;
  }
  .id-scanner__text {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .id-scanner__img-1 {
    margin-top: 0;
  }
  .id-scanner__img-2 {
    margin-top: 0;
  }
  .id-scanner__phones {
    justify-content: center;
  }
  .id-scanner__text {
    width: 100%;
    align-items: center;
  }
  .id-scanner__primary-text {
    width: 100%;
  }
  .our-mission__phone {
    margin-left: -150px;
    margin-top: -230px;
    width: 300px;
  }
  .our-mission__inner {
    padding-bottom: 100px;
  }
}

@media (max-width: 1200px) {
  .header__inner {
    padding: 0;
  }
  .contact-us__text {
    font-size: 24px;
    width: 260px;
  }
  .contact-us__link {
    font-size: 18px;
  }
  .contact-us__inner {
    flex-direction: column;
  }
  .contact-us__card {
    width: 100%;
  }
  .contact-us__card + .contact-us__card {
    margin-left: 0;
    margin-top: 30px;
  }
  .our-mission__inner {
    margin-bottom: -400px;
  }
  .our-mission__phone {
    margin-left: -150px;
    margin-top: -290px;
    width: 200px;
  }
  .qr-code__inner {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
    margin-bottom: 0;
    padding-top: 450px;
  }
  .qr-code__phones {
    align-items: center;
    width: 280px;
    margin: 0;
    flex-direction: column;
  }

  .qr-code__img-1 {
    width: 280px;
    height: 100%;
    margin-top: 0;
  }
  .qr-code__img-2 {
    width: 280px;
    height: 100%;
    margin-top: 50px;
  }
  .qr-code__nightlife {
    display: none;
  }

  .qr-code__text {
    margin: 0;
    width: 100%;
  }
  .generate-qr__inner {
    margin: 50px 0;
  }
  .qr-code__inner {
    margin-top: 50px;
  }
  .qr-code__apps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }

  .qr-code__appstore {
    width: 185px;
    height: 60px;
  }
  .qr-code__googleplay {
    width: 185px;
    height: 60px;
    margin-top: 24px;
    margin-bottom: 240px;
  }
  .qr-code__inner {
    margin-top: 350px;
  }

  .qr-code__bg-2 {
    width: 100%;
    bottom: 1700px;
  }
  .qr-code__bg-3 {
    width: 100%;
    bottom: 1030px;
  }
  .generate-qr__inner {
    padding: 0;
  }
  .generate-qr__img {
    transform: scale(0.8);
  }
  .header__apps {
    flex-direction: row;
  }
}

@media (max-width: 992px) {
  .header__apps {
    flex-direction: row;
  }
  .header__middle {
    width: 100%;
    justify-content: space-between;
  }
  .header__phone-wrapper {
    width: 100%;
  }
  .header__phone {
    /* margin-left: 100px; */
    /* width: 250px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  .header__phone img {
    /* width: 100px; */
    height: 100px;
  }
  .header__h1-heading {
    font-size: 30px;
    line-height: 40px;
    margin: 60px 0;
  }
  .header__text {
    width: 250px;
  }
  .header__dl-text {
    width: 100%;
    font-size: 25px;
    line-height: 40px;
  }
  .header__primary-text {
    font-size: 16px;
    width: 100%;
    margin-left: 0;
  }
  .header__dl-text {
    margin-top: 100px;
    text-align: center;
  }
  .integration__primary-text {
    margin-bottom: 30px;
  }
  .header__phone {
    right: 0;
  }
  .header__phone-wrapper {
    position: relative;
    width: 100%;
  }

  .our-mission__inner {
    margin-bottom: 0;
  }
  .our-mission__phone {
    display: flex;
    width: 300px;
    justify-content: center;
    margin: 0 0;
    align-items: center;
  }
  .our-mission__inner {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .our-mission__text {
    margin-top: 0;
    margin-bottom: 50px;
    width: 100%;
  }
  .our-mission__primary-text {
    margin-right: 0;
    width: 100%;
  }
  .our-mission__inner {
    margin-top: 50px;
    flex-direction: column-reverse;
  }
  .our-mission__phone {
    margin-top: -0;
    margin-left: 0;
    width: 300px;
    height: 100%;
    transform: rotate(0);
  }

  .qr-code__inner {
    padding-top: 100px;
  }
  .generate-qr__img {
    transform: scale(0.7);
  }
  .header__phone img {
    height: 100%;
    width: auto;
    /* right: -50px; */
    /* margin-right: -70px; */
  }
}

@media (max-width: 768px) {
  .header__apps {
    margin-right: 0;
    flex-direction: row;
  }
  .header__h1-heading {
    font-size: 35px;
    line-height: 40px;
  }
  .header__inner {
    overflow-x: hidden;
  }
  .header__primary-text {
    margin-left: 0;
  }
  .header__apps {
    margin-top: 50px;
    margin-right: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
  }
  .header__dl-text {
    font-size: 24px;
  }
  .header__bottom {
    flex-direction: column;
  }
  .qr-code__inner {
    padding-top: 300px;
  }
  .integration__inner {
    flex-direction: column;
    margin: 50px 0;
  }
  .integration__text {
    margin-bottom: 30px;
    margin-top: 0;
  }
  .integration__primary-text {
    width: 100%;
  }
  .container {
    /* min-width: 768px; */
    max-width: 768px;
  }
  .header__inner,
  .contact-us__inner,
  .our-mission__inner,
  .id-scanner__inner,
  .integration__inner,
  .qr-code__inner,
  .footer__inner,
  .get-in-touch__inner,
  .ordering__text,
  .ordering__inner,
  .generate-qr__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__phone-wrapper {
    position: relative;
    /* overflow-y: hidden; */
    /* width: 100%; */
  }
  .header__phone {
    position: absolute;
    height: 523px;

    width: 100%;
    /* right: -50px; */
    /* margin-right: -70px; */
  }
  .header__phone img {
    height: 100%;
    width: auto;
    /* right: -50px; */
    /* margin-right: -70px; */
  }
}

@media (max-width: 576px) {
  .contact-us__card {
    height: 100%;
    padding: 25px;
  }
  .header__dl-text {
    margin-top: 40px;
  }
  .header__apps {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header__h1-heading {
    margin: 30px 0;
    width: 207px;
  }
  .header__primary-text {
    max-width: 240px;
  }

  .auth {
    width: 100%;
    justify-content: flex-end;
  }
  .logo {
    margin-left: -5px;
  }
  .logo__cube {
    width: 52px;
    height: 52px;
    background-size: 100% 100%;
  }
  .logo__text {
    width: 47px;
    height: 12px;
    background-size: 100% 100%;
  }
  .header__text {
    width: 100%;
  }

  .header__phone {
    position: absolute;
    height: 323px;
    width: auto;
    right: -50px;
    /* margin-right: -70px; */
  }
  .our-mission__phone img {
    /* width: 250px; */
    width: 170px;
    height: 346px;
  }
  .container {
    min-width: 375px;
  }
  .qr-code__inner {
    padding-top: 100px;
  }

  .h2-heading {
    font-size: 24px;
    line-height: 29px;
  }

  .primary-text {
    font-size: 16px;
    line-height: 22px;
  }

  .footer__inner {
    text-align: center;
    flex-direction: column-reverse;
    padding: 30px;
  }
  .footer__email {
    width: 100%;
  }
  .footer__item {
    justify-content: center;
  }
  .footer__copyright {
    font-size: 14px;
  }
  .footer__email {
    font-size: 14px;
  }
  .footer__email .footer__link {
    font-size: 14px;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .get-in-touch__inner {
    margin: 50px 0;
  }
  .get-in-touch__apps {
    margin-top: 0;
    width: 100%;
    flex-direction: column;
  }
  .get-in-touch__appstore {
    width: 100%;
    height: 60px;
    background-size: 100% 100%;
    background-position: center;
    margin-top: 45px;
  }
  .get-in-touch__googleplay {
    width: 100%;
    height: 60px;
    background-size: 100% 100%;
    background-position: center;
    margin-top: 23px;
  }
  .get-in-touch__btn {
    margin-top: 40px;
    width: 100%;
  }
  .get-in-touch__primary-text {
    max-width: 351px;
  }
  .get-in-touch__form {
    margin-top: 27px;
  }
  .get-in-touch__h2-heading {
    font-size: 24px;
    margin: 0;
    line-height: 29px;
  }
  .get-in-touch__input {
    margin-top: 16px;
    height: 57px;
    font-size: 16px;
  }
  .get-in-touch__dl-text {
    font-size: 24px;
    line-height: 33px;
    margin-top: 74px;
  }
  .notab-phone {
    display: none;
  }

  .ordering__inner {
    padding: 150px 0 0;
    margin: 100px 0;
  }

  .ordering__text {
    margin-top: -150px;
    left: 0;
  }

  .ordering__primary-text {
    width: 100%;
  }

  img[alt="phone-8"] {
    display: none;
  }

  img[alt="phone-8-mobil"] {
    display: block;
  }
  .generate-qr__inner {
    flex-direction: column-reverse;
    background-position-y: 67%;
  }
  .generate-qr__text {
    flex-direction: column;
    align-items: flex-start;
  }
  .generate-qr__scan {
    display: none;
  }
  .generate-qr__scan-2 {
    display: block;
  }
  .id-scanner__phones {
    flex-direction: column;
    align-items: center;
  }
  .id-scanner__inner {
    flex-direction: column-reverse;
    background-position-y: 0;
    padding-top: 180px;
  }
  .id-scanner__img-1 {
    margin-top: 50px;
  }
  .id-scanner__img-2 {
    margin: 30px 0 0 0;
  }
  .id-scanner__text {
    margin: 0;
  }
}
